@model IEnumerable<RadioPlayout.Models.ScheduleClock>

@{
	ViewBag.Title = "Radio Playout";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@section scripts
{
	<script src="//cdn.rawgit.com/toots/shine/master/js/dist/libshine.js"></script>
	<script src="//cdn.rawgit.com/webcast/libsamplerate.js/master/dist/libsamplerate.js"></script>
	<script src="//cdn.rawgit.com/webcast/taglib.js/master/dist/taglib.js"></script>
	<script src="//cdn.rawgit.com/webcast/webcast.js/master/lib/webcast.js"></script>
	<script src="~/Scripts/Custom/radio_playout.js"></script>
}

@section top_nav_extra
{
	<div class="top_navigation_switch_outer">
		<i class="fas fa-toggle-on toggle_connection_switch pointer fa-rotate-180"></i> <span class="toggle_connection_text">Connect to stream</span>
	</div>

	<div class="top_navigation_switch_outer ml-4">
		<i class="fas fa-toggle-on auto_dj_switch pointer fa-rotate-180"></i> <span class="auto_dj_switch_text">Auto DJ</span>
	</div>
}

@Html.Partial("_EnterRadioPlayerModal")
@Html.Partial("_MusicCatalogueModal")
@Html.Partial("_PressToTalkModal")

<div class="container-fluid">
	<div class="row no-gutters">
		<!-- Radio Players 1/2 -->
		<div class="col-12 col-lg-4">
			<div class="col-12 p-0 radio_player_card_outer radio_player_outer" name="radio_player_1">
				<div class="card h-100">
					<div class="card-header bg-dark text-white">Radio Player 1</div>
					<div class="card-body pt-2 p-0 overflow-hidden h-100">
						<div class="row no-gutters">
							<audio class="d-none" id="radio_player_1_audio"></audio>
							<div class="col-5">
								<div class="row no-gutters d-flex justify-content-center">
									<div class="col-6">
										<div class="radio_player_image">
											<img src="http://jackiehawkins.com/wp-content/uploads/2014/03/Screen-Shot-2014-03-04-at-15.54.39.png" alt="">
										</div>
									</div>
								</div>
								<div class="radio_player_playback_options pt-2">
									<div class="row no-gutters d-flex justify-content-center">
										<div class="col-2 col-sm-3 mr-1 border border-dark text-center pointer radio_player_playback_button no_select" id="radio_player_1_eject">
											<i class="fas fa-eject"></i>
										</div>
										<div class="col-2 col-sm-3 mr-1 border border-dark text-center pointer radio_player_playback_button no_select" id="radio_player_1_pause">
											<i class="fas fa-pause"></i>
										</div>
										<div class="col-2 col-sm-3 mr-1 border border-dark text-center pointer radio_player_playback_button no_select" id="radio_player_1_play">
											<i class="fas fa-play"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-5">
								<div class="text-center">
									<ul class="list-unstyled">
										<li class="text-truncate radio_player_audio_info" id="radio_player_1_artist_name">Player Waiting For Audio</li>
										<li class="text-truncate radio_player_audio_info" id="radio_player_1_song_title"><br></li>
									</ul>

									<ul class="list-unstyled">
										<li class="radio_player_audio_info">Time Remaining:</li>
										<li class="radio_player_audio_info" id="radio_player_1_duration">00:00:00</li>
									</ul>

									<div class="progress" id="radio_player_1_duration_bar">
										<div class="progress-bar" role="progressbar" style="width: 0%;">00:00</div>
									</div>
								</div>
							</div>
							<div class="col-2 mt-2 d-flex justify-content-center">
								<div class="row no-gutters">
									<div class="col-6">
										<div class="slider_wrapper">
											<input id="radio_player_1_volume_slider" type="range" min="0" max="100" value="75" step="5">
										</div>
									</div>
									<div class="col-6" style="height: 7.5em">
										<div class="progress progress_bar_vertical" id="radio_player_1_volume_level">
											<div class="progress_bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 0%;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 p-0 radio_player_card_outer radio_player_outer" name="radio_player_2">
				<div class="card h-100">
					<div class="card-header bg-dark text-white">Radio Player 2</div>
					<div class="card-body pt-2 p-0 overflow-hidden h-100">
						<div class="row no-gutters">
							<audio class="d-none" id="radio_player_2_audio"></audio>
							<div class="col-5">
								<div class="row no-gutters d-flex justify-content-center">
									<div class="col-6">
										<div class="radio_player_image">
											<img src="http://jackiehawkins.com/wp-content/uploads/2014/03/Screen-Shot-2014-03-04-at-15.54.39.png" alt="">
										</div>
									</div>
								</div>
								<div class="radio_player_playback_options pt-2">
									<div class="row no-gutters d-flex justify-content-center">
										<div class="col-2 col-sm-3 mr-1 border border-dark text-center pointer radio_player_playback_button no_select" id="radio_player_2_eject">
											<i class="fas fa-eject"></i>
										</div>
										<div class="col-2 col-sm-3 mr-1 border border-dark text-center pointer radio_player_playback_button no_select" id="radio_player_2_pause">
											<i class="fas fa-pause"></i>
										</div>
										<div class="col-2 col-sm-3 mr-1 border border-dark text-center pointer radio_player_playback_button no_select" id="radio_player_2_play">
											<i class="fas fa-play"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-5">
								<div class="text-center">
									<ul class="list-unstyled">
										<li class="text-truncate radio_player_audio_info" id="radio_player_2_artist_name">Player Waiting For Audio</li>
										<li class="text-truncate radio_player_audio_info" id="radio_player_2_song_title"><br></li>
									</ul>

									<ul class="list-unstyled">
										<li class="radio_player_audio_info">Time Remaining:</li>
										<li class="radio_player_audio_info" id="radio_player_2_duration">00:00:00</li>
									</ul>

									<div class="progress" id="radio_player_2_duration_bar">
										<div class="progress-bar" role="progressbar" style="width: 0%;">00:00</div>
									</div>
								</div>
							</div>
							<div class="col-2 mt-2 d-flex justify-content-center">
								<div class="row no-gutters">
									<div class="col-6">
										<div class="slider_wrapper">
											<input id="radio_player_2_volume_slider" type="range" min="0" max="100" value="75" step="5">
										</div>
									</div>
									<div class="col-6" style="height: 7.5em">
										<div class="progress progress_bar_vertical" id="radio_player_2_volume_level">
											<div class="progress_bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 0%;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Microphone Push To Talk / Music Library -->
		<div class="col-12 col-lg-4">
			<div class="col-12 p-0 radio_player_card_outer">
				<div class="card h-100">
					<div class="card-header bg-dark text-light text-center">
						<div class="row no-gutters">
							<div class="col-2"></div>
							<div class="col-8 text-center">Microphone - Press To Talk</div>
							<div class="col-2 text-right pointer" id="show_press_to_talk_modal">
								<i class="fas fa-cog"></i>
							</div>
						</div>
					</div>
					<div class="card-body p-0 overflow-hidden">
						<div class="row no-gutters justify-content-center">
							<div class="col-6 col-sm-6 col-xl-5 align-self-center mr-2">
								<span class="press_to_talk_button pointer">Press To Talk</span>
							</div>
							<div class="col-2 mt-2 d-flex justify-content-center">
								<div class="row no-gutters">
									<div class="col-6">
										<div class="slider_wrapper">
											<input type="range" min="0" max="11" value="7" step="1">
										</div>
									</div>
									<div class="col-6" style="height: 7.5em">
										<div class="progress progress_bar_vertical" id="microphone_volume_level">
											<div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 75%;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 p-0 radio_player_card_outer" id="music_catalogue_outer" data-request-url="@Url.Action("GetTrackInfo")">
				<div class="card h-100">
					<div class="card-header bg-dark text-light">
						<div class="row no-gutters">
							<div class="col-2"></div>
							<div class="col-8 text-center">Music Catalogue</div>
							<div class="col-2 text-right">
								<i class="fas fa-filter pointer" id="musicLibraryBtn"></i>
							</div>
						</div>
					</div>
					<div class="card-body p-0 pre-scrollable noSelect radio_player_audio_info" id="music_catalogue_items_outer" data-request-url="@Url.Action("FilterAudioCatalogue")">
					</div>
				</div>
			</div>
		</div>
		<!-- Schedule -->
		<div class="col-12 col-lg-4 p-0 schedule_content_outer">
			<div class="card h-100">
				<div class="card-header bg-dark text-light text-center">Schedule</div>
				<div class="card-body p-0">
					<div class="row no-gutters schedule_content_header bg-secondary text-light text-center align-items-center">
						<div class="col-5">Hour Duration - <span id="schedule_hour_duration">00:00:00</span></div>
						<div class="col-5" id="schedule_hour_running">Overrun - 00:00:00</div>
						<div class="col-1">
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="schedule_clock_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="far fa-clock"></i>
								</button>
								<div class="dropdown-menu" aria-labelledby="schedule_clock_dropdown">
									<select name="audioType" class="form-control" id="schedule_clock_options" data-get-clock="@Url.Action("GenerateScheduleClock", "Schedule")">
										<option selected disabled>Schedule Clocks</option>
										@foreach (var schedule_clock in Model)
										{
											<option value="@schedule_clock.ScheduleClockId">@schedule_clock.ScheduleClockName</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row no-gutters radio_player_audio_info h-100">
						<div class="col-12 pre-scrollable" id="schedule_content_items_outer">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>