@model RadioPlayout.Models.ChangePasswordViewModel

<div class="card h-100">
	<div class="card-header bg-dark text-white">Change Your Password</div>
	<div class="card-body overflow-hidden h-100">
		@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()

			<div class="form-group">
				@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
				@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<input type="submit" value="Change password" class="btn btn-dark" />
			</div>

			if (ViewBag.StatusMessage.Contains("password"))
			{
				<div class="text-success">
					@ViewBag.StatusMessage
				</div>
			}
			if (ViewData.ModelState.ContainsKey("OldPassword") || ViewData.ModelState.ContainsKey("NewPassword") || ViewData.ModelState.ContainsKey("ConfirmPassword"))
			{
				@Html.ValidationSummary("", new { @class = "text-danger" })
			}
		}
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}