@model RadioPlayout.Models.EditDetailsViewModel 

<div class="card">
	<div class="card-header bg-dark text-white">Edit Your Details</div>
	<div class="card-body overflow-hidden h-100">
		@using (Html.BeginForm("EditDetails", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()

			<div class="form-group">
				@Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @Value = ViewBag.UserFirstName })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.LastName, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @Value = ViewBag.UserLastName })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Email, new { @class = "control-label" })
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Value = ViewBag.UserEmail })
			</div>
			<div class="form-group">
				<input type="submit" value="Edit Details" class="btn btn-dark" />
			</div>

			if (ViewBag.StatusMessage.Contains("details"))
			{
				<div class="text-success">
					@ViewBag.StatusMessage
				</div>
			}

			if (ViewData.ModelState.ContainsKey("FirstName") || ViewData.ModelState.ContainsKey("LastName") || ViewData.ModelState.ContainsKey("Email"))
			{
				@Html.ValidationSummary("", new { @class = "text-danger" })
			}
		}
	</div>
</div>