@model RadioPlayout.Models.AddUserViewModel

<script>
	function OnSuccess(response) {
		if (response.status === 'validationerror') {
			var $summaryUl = $(".validation-summary-valid").find("ul");
			$summaryUl.empty();

			$.each(response.errors,
				function (a, b) {
					$summaryUl.append($("<li>").text(b));
				});
		}
		else if (response.status === "success") {
			$("#add_user_success").empty().append("Successfully added user.");
		}
	}
</script>

<div class="modal fade" id="add_user_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add User</h5>
			</div>
			@using (Ajax.BeginForm("AddUser", "Account", new AjaxOptions { OnSuccess = "OnSuccess" }))
			{
			<div class="modal-body">
				@Html.AntiForgeryToken()

				<div class="row">
					<div class="col-6">
						<div class="form-group">
							@Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							@Html.LabelFor(m => m.LastName, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							@Html.LabelFor(m => m.Email, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							@Html.LabelFor(m => m.Password, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
						</div>
					</div>
				</div>

				@Html.ValidationSummary("", new { @class = "text-danger" })
			</div>
				<div class="modal-footer">
					<div class="col-6 text-success" id="add_user_success"></div>
					<div class="col-6 d-flex justify-content-end">
						<input type="submit" class="btn btn-dark" value="Add User" />
					</div>
				</div>
			}
		</div>
	</div>
</div>

