@model PagedList.IPagedList<RadioPlayout.Models.ApplicationUser>
@using PagedList.Mvc;

@{
	ViewBag.Title = "ManageAccounts";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@section styles
{
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}

@section scripts
{
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/Custom/manage_user.js"></script>
}

@Html.Partial("~/Views/Account/_AddUser.cshtml", new RadioPlayout.Models.UserViewModel())
@Html.Partial("~/Views/Account/_EditUser.cshtml", new RadioPlayout.Models.EditUserViewModel())

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-12 col-lg-8">
			<div class="card">
				<div class="card-header bg-dark text-white">
					<div class="row">
						<div class="col-7 d-flex align-items-center">Manage User Accounts</div>
						<div class="col-5 d-flex align-items-center justify-content-end">
							<button type="button" class="btn btn-success" id="add_user_modal_toggle">Add User</button>
						</div>
					</div>
				</div>
				<div class="card-body overflow-hidden p-0">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">
										@Html.ActionLink("First Name", "ManageAccounts", new { sortOrder = ViewBag.FirstNameSortParam, currentFilter = ViewBag.CurrentFilter }, new { @class = "no_style" })
									</th>
									<th scope="col">
										@Html.ActionLink("Last Name", "ManageAccounts", new { sortOrder = ViewBag.LastNameSortParam, currentFilter = ViewBag.CurrentFilter }, new { @class = "no_style" })
									</th>
									<th scope="col">
										@Html.ActionLink("Email", "ManageAccounts", new { sortOrder = ViewBag.EmailSortParam, currentFilter = ViewBag.CurrentFilter }, new { @class = "no_style" })
									</th>
									<th scope="col">Level</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody id="user_list_outer" data-edit-url="@Url.Action("FindUserData", "Account")" data-delete-url="@Url.Action("DeleteUser", "Account")">
								@foreach (var item in Model)
								{
								<tr>
									<td>@item.FirstName</td>
									<td>@item.LastName</td>
									<td>@item.Email</td>
									<td>User Level</td>
									<td><i class="fas fa-pencil-alt pointer edit_user_btn" data-audio-id="@item.Id" title="Edit"></i></td>
									<td><i class="fas fa-times pointer delete_user_btn" data-audio-id="@item.Id"></i></td>
								</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="row d-flex align-items-center">
						<div class="col-4 ml-3">
							Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
							@Html.PagedListPager(Model, page => Url.Action("ManageAccounts", new { page, sortOrder = ViewBag.CurrentSort }))
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			@Html.Partial("~/Views/Account/_FilterManageAccounts.cshtml", new RadioPlayout.Models.FilterUsersModel())
		</div>
	</div>
</div>
